<h1>Book A Flight</h1>

<%= form_for(:flight, url: flights_url, method: :GET) do |f| %>
  From: <%= f.select(:from_airport, @airport_options) %>
  To: <%= f.select(:to_airport, @airport_options) %>
  Departure: <%= f.select(:departure, @existing_times) %>
  # of Passengers: <%= f.select(:passengers, @passengers) %>
  <%= f.submit "Search" %>
<% end %>

<% if !@results.empty? %>
  <p>Results:</p>
  <%= form_for @results do |f| %>
    <% @results.each do |result| %>
      <%= f.radio_button(result) %>
    <% end %>
  <% end %>
<% end %>
